[user]
    name = Manuel Tiago Pereira
    email = mt.pereira@gmail.com

[merge]
    tool = vimdiff

[alias]
    ci = commit
    cam = commit --amend
    st = status
    s = status -s -b
    l = log --graph --decorate --all --name-status --pretty='%C(auto)%h%Creset %C(auto)%d%Creset %cN (%ce) %ad %n %s'
    df = diff
    co = checkout
    cob = checkout -b
    a = add
    f = fetch
    ps = push --set-upstream
    pst = !git ps && git ps --tags
    pl = pull
    up = !git pull $@ && git submodule update --init --recursive
    m = merge
    b = branch
[color]
    ui = auto

[core]
    excludesfile = ~/.gitignore
[push]
    default = current

[branch]
    autosetuprebase = always
