[user]
	name = Manuel Tiago Pereira
	email = mt.pereira@gmail.com
[merge]
	tool = vimdiff

[alias]
	ci = commit
	st = status
	s = status -s
	l = log
	df = diff
	co = checkout
	a = add

[color]
	ui = auto
