[user]
	name = Manuel Tiago Pereira
	email = mt.pereira@gmail.com

[merge]
	tool = vimdiff

[alias]
	ci = commit
	st = status
	s = status -s
	l = log
	df = diff
	co = checkout
	a = add
    f = fetch
    ps = push
    pl = pull
    m = merge
    hrk-ps = push heroku master

[color]
	ui = auto

[core]
	excludesfile = $HOME/.gitignore
[push]
	default = current
